<%= form_for [topic, post, post.comments.new] do |f| %>
  <div class="row">
    <div class="col-md-8">
        <%= f.label :body %>
        <%= f.text_area :body, class: 'form-control', placeholder: "Enter comment body" %>
        <div class="form-group">
        <%= f.submit "Create Comment", class: 'btn btn-success' %>
      </div>
    </div>
  </div>

  
<% end %>