<h1>New Comment</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for comments</p>
    <ul>
      <li>Make sure it contains alliteration</li>
      <li>Don't use punctuation</li>
      <li>Except for hashtags</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic, post: @post, } %>
  </div>
</div>