<h1>Welcome to Bloccit</h1>
<p id="index-title">This is the home page for Bloccit.</p>

<div class="posts">Post 1 goes here.</div>
<div class="posts">Post 2 goes here.</div>

<section>I am the content in a section element.</section>

<div id="footer">
  <ul>
    <li><%= link_to "Follow me", "http://www.facebook.com/trybloc", class: "social-btn" %></li>
    <li><%= link_to "Fong's Facebook", "http://www.facebook.com/fongvoltfan", class: "social-btn" %></l>
    <li><%= link_to "LinkedIn", "https://www.linkedin.com/pub/fong-fan/1a/b96/709", class: "social-btn" %></li>
    <li><%= link_to "GitHub", "https://www.github.com/voltaaage", class: "social-btn" %></li>
  </ul>
</div>
