<% if policy(Vote.new).create? %>
  <div class='pull-left vote-arrows'>
    <div><%= link_to " ", post_up_vote_path(post), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
    <div><strong><%= post.points %></strong></div>
    <div><%= link_to " ",post_down_vote_path(post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
  </div>
<% end %>