<% if policy( Vote.new ).create? %>
  <div class="vote-arrows pull-left">
    <div>
      <%= link_to " ",
        post_up_vote_path(post),
        class: "glyphicon glyphicon-chevron-up #{(current_user.voted(post) && current_user.voted(post).up_vote?) ? 'voted' : '' }", method: :post %>
    </div>
    <div>
      <strong><%= post.points %></strong>
    </div>
    <div>
      <%= link_to " ",
        post_down_vote_path(post),
        class: "glyphicon glyphicon-chevron-down #{(current_user.voted(post) && current_user.voted(post).down_vote?) ? 'voted' : '' }", method: :post %>
    </div>
  </div>
<% end %>